@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin:0;
    padding:0;
    font-family: 'Lexend Deca', sans-serif;
    height: 100vh;
    background-image: radial-gradient(circle, #222a42, #1e263d, #192237, #151e32, #111a2d, #0f182a, #0d1628, #0b1425, #0a1324, #091324, #081223, #071123);
    color:rgb(226 232 240);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size:18px
}

.astronaut:after {
    animation:shadowScale 5s ease infinite;
    background: rgb(15, 15, 29, .3);
    border-radius: 50%;
    content: "";
    width:12rem;
    height: 3rem;
    display: block;
    position: absolute;
}

.astronaut {
    height: 100%;
    animation: imageMove 5s ease infinite;
}

@keyframes shadowScale {
    0% {
      transform: scale(.5);
    }
  
    50% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(.5);
    }
  }

@keyframes imageMove {
    0% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-20px);
    }
  
    100% {
      transform: translateY(0);
    }
  }


.splide .is-active {
    
}

.splide .splide__arrow {
    top: 0;
    bottom: 0;
    height: 100%;
    transform: none;
    border-radius: unset;
    width: 50px;
    opacity: .9;
    svg {
        filter: invert(1);
        width: 24px;
        height: 24px;
    }
}
.splide__arrow.splide__arrow--prev {
    left: 0;
}
.splide__arrow.splide__arrow--next {
    right: 0;
}



*::-webkit-scrollbar {
  width: 5px;
  height: 5px;   /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background:#ffffff;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(250 202 21);      /* roundness of the scroll thumb */
  border: 3px solid rgb(250 202 21);  /* creates padding around scroll thumb */
}

